* {
    box-sizing: border-box;
}

.game-background {
    background-color: #444444;
    padding: 10px 15px 20px 15px;
}

.game-title {
    font-size: 15pt;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
}

.game-picture {
    width: 200px;
}

.game-description {
    display: inline;
    vertical-align: top;
    margin-left: 10px;
}

.game-progress-pictures-row:after {
    content: "";
    display: table;
    clear: both;
}

.game-progress-pictures-column {
    float: left;
    width: 50%;
    padding: 10px;
}

.game-progress-picture {
    border: 2px solid white;
    width: 100%;
    height: 139px;
    object-fit: cover;
}

figcaption {
    text-align: left;
}

@media screen and (max-width: 992px) {
    .game-progress-pictures-column {
        width: 100%;
    }
    .game-progress-picture {
        height: 330px;
    }
}